{% extends "base_generic.html" %}

{% block content %}
  <h1>Name: {{ author.first_name }} {{ author.last_name }}</h1>

  <p><strong>First Name:</strong> {{ author.first_name }}</p> <!-- author detail link not yet defined -->
  <p><strong>Last_Name:</strong> {{ author.last_name }}</p>
  <p><strong>Date of birth:</strong> {{ author.date_of_birth }}</p> 
  <p><strong>Date of death:</strong> {{ author.date_of_death }}</p> 
  {% if author.book_set %} 
  <dl>
    {% for book in author.book_set.all %}
      <dt><a href="{% url 'book-detail' book.pk %}">{{book}}</a> ({{book.bookinstance_set.all.count}})</dt>
      <dd>{{book.summary}}</dd>
    {% endfor %}
   {% else %}
    <p> No books available</p>
   {% endif %}  
  </dl> 
{% endblock %}
